input{
  display: inline;
}

body{
  width:500px;
  height: 80px;
  margin:0;
}

.wrapper{
  width:500px;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items: center;
  border: 5px dashed black;
  box-sizing: border-box;
}
